html,body{
  height: 100%;
}
body {
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  }
#mynav{
    width: 100%;
    height: 50px;
    background-color: #222222;
}


.rightcontent{
    width: 85%;
    height: 100%;
    float:right;
    background-color: #f2f5f7;
    padding: 10px 12px 0 12px;
}
.tablelist{
    width: 100%;
    height: 100%;
    background-color: #fff;
    /* box-shadow: 0 0 5px #e5e8eb; */
    min-height: 90.5vh;
    padding: 10px;
}
.searchinfo{
    float:right;
}
.searchinfo p{
    float: left;
    font-size: 13px;
    color: #323744;
}
.searchinfo i{
    float: left;
    margin-left: 15px;
    color: #656565;
}
.searchcontent{
    height: 50px;
}
.pagestyle{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.icon-delete{
  margin-left:5px;
  cursor: pointer;
}
.icon-edit{
  cursor: pointer;
}



/* 组件样式 */

/* 搜索框 */
d-search {
    width: 270px;
    float: left;
}
/* 分页 */
d-button {
    margin-right: 5px;
  }
/* 配置中的每一项，自定义项建议应用此样式或在此基础上修改 */
  .pagination-config-item {
    padding-bottom: 8px;
    padding-top: 5px;
    border-bottom: 1px solid #cacfd8;
  }
  
/* 配置中每一项的标题样式，自定义项建议应用此样式或在此基础上修改 */
  .config-item-title {
    color: #888;
    padding-left: 10px;
    font-size: 12px;
    line-height: 22px;
  }
  
  .config-item-words {
    color: #293040;
    padding-left: 10px;
    font-size: 12px;
    margin-top: 4px;
  }
  
  .config-item-words:hover {
    background-color: #f3f7fe;
    cursor: pointer;
  }
